<div class="row center-xs">
  <div class="col-md-10">
		<div class="text-left">
			<h3>Enlace del CID <%= @link.CID %></h3>
			<% unless @link.user.nil? %>
				<p>
				Creado por: <%= @link.user.email %>
				</p>
			<%end%>
			<h4><%=link_to "Volver", links_path, class:"btn white be-red top-space "%></h4>
		</div>
	</div>
</div>


<div style="width:100%;margin:0 auto;">
	<table style="width:100%">
			<tr>
				<th>Provedor de Enlace</th>
				<th>Red Satelital</th>
				<th>Razon Social</th>
				<th>Código</th>
				<th>Site</th>
				<th>Nombre de Enlace</th>
				<th>CID</th>
				<th>Sector de Red</th>
				<th>Estado</th>
				<th>Satélite</th>
				<th>Tipo de Enlace</th>
				<th>Capacidad (Kbps)</th>
				<th>Capacidad (Mhz)</th>
			</tr>
			<tr>
				<td><%= @link.Provedor_Enlace %></td>
				<td><%= @link.Red_Satelital %></td>
				<td><%= @link.Razon_Social %></td>
				<td><%= @link.Codigo %></td>
				<td><%= @link.Site %></td>
				<td><%= @link.Nombre_Enlace %></td>
				<td><%= @link.CID %></td>
				<td><%= @link.Sector_Red %></td>
				<td><%= @link.Estado %></td>
				<td><%= @link.Satelite %></td>
				<td><%= @link.Tipo %></td>
				<td><%= @link.Capacidad_Mbps %></td>
				<td><%= @link.Capacidad_Mhz %></td>
			</tr>
	</table>
</div>

<div class="row center-xs">
  <div class="col-md-10">
		<div class="text-left">
			<h4><%=link_to "Modificar", edit_link_path(@link), class:"btn white be-red" %></h4>
			<h4> <%=link_to "Eliminar", @link, method: :delete, class:"btn white be-red" %></h4>
		</div>
	</div>
</div>